$navbar-default-bg: #000
$navbar-default-border: lighten($navbar-default-bg, 6.5%)
$navbar-default-link-color: #fff
// $gray-base: #fff
@import ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap


body
  background: image-url("retina_wood.png")


.table.back
  background: #fff
  opacity: 0.8

.control
  margin-right: 5px

.player1
  background: #f2dede
.player2
  background: #d9edf7
.player
  font-size: 130%
  font-weight: bold
.score
  font-size: 130%
  font-weight: bold
.low .score
  color: darken(#0FC6FF, 30%)
.middle .score
  color: darken(#E8DB0D, 30%)
.high .score
  color:  darken(#FF1B40, 30%)

#board
  background: image-url("board.jpg")
  width: image-width("board.jpg")
  height: image-height("board.jpg")
  padding: 7px
  .col
    .grid
      width: 65px
      height: 64px
      float: left
      .piece
        width: 56px
        height: 56px
        background: image-url("pieces.png")
        margin: 5px auto
        &.piece1
          background-position: 0 0
        &.piece2
          background-position: 56px 0
      &.next
        background: rgba(0,0,0,0.5)
