@import ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap

#board
  td
    $length: 30px
    width: $length
    height: $length
    border: 1px solid #000
    font-size: $length
    line-height: $length
    text-align: center
    .grid
      width: $length
      height: $length
